@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&display=swap");
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

html,
body {
  height: 100%; }

html {
  font-size: 100%; }

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #777;
  background: #fff;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  padding: 0;
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0; }

audio {
  display: none !important; }

.mark-text {
  color: #87c52e;
  text-decoration: underline; }

.x-msg {
  font-size: 1.75rem;
  color: red; }

.not-correct-msg,
.congrat-msg {
  font-size: 2.5rem;
  color: #fb843c;
  text-align: center; }

.en-box {
  padding: 1.25rem; }
  .en-box__header > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center; }
  .en-box__header > div + div {
    margin-top: 0.625rem; }
  .en-box__header-sub {
    color: #fff;
    background-color: #fb843c;
    padding: 0.625rem;
    font-size: 1.5rem;
    border-radius: 0.3125rem;
    margin-left: 0.625rem;
    opacity: 0;
    animation-duration: 1.5s; }
  .en-box__body {
    margin-top: 2.5rem; }
  .en-box__ex-top {
    display: flex;
    flex-wrap: nowrap;
    padding: 1.875rem; }
  .en-box__ex-bottom {
    margin-top: -4px;
    padding: 1.25rem; }
  .en-box__ex-top, .en-box__ex-bottom {
    border: 4px solid #999; }
  .en-box__ex-audio {
    flex: 0 0 30%;
    max-width: 30%; }
    .en-box__ex-audio-btn {
      display: block;
      margin: 0 auto;
      width: 80px;
      height: 80px;
      opacity: 1;
      transition: opacity .15s;
      border-radius: 50%; }
      .en-box__ex-audio-btn.is-playing {
        opacity: 1 !important;
        border: 4px solid #87c52e; }
      .en-box__ex-audio-btn:hover {
        opacity: .7; }
  .en-box__ex-quest {
    flex: 0 0 70%;
    max-width: 70%;
    font-size: 1.75rem;
    color: #000; }
    .en-box__ex-quest-mean {
      font-style: italic; }
  .en-box__ex-form-alert {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 48px; }
    .en-box__ex-form-alert-text {
      margin-left: 0.625rem; }
  .en-box__ex-form-input {
    margin: 0 auto;
    padding: 0.3125rem 0.625rem;
    max-width: 240px;
    height: 50px;
    border: 2px solid #999;
    font-size: 1.75rem; }
    .en-box__ex-form-input:focus {
      border-color: #999;
      outline: 0;
      box-shadow: none; }
  .en-box__ex-form-btn {
    font-size: 1.25rem;
    width: 200px;
    color: #fff;
    background-color: #33abe5;
    border-radius: 1.875rem; }
    .en-box__ex-form-btn:hover {
      color: #fff;
      background-color: #309ace; }
  .en-box__ex-next {
    position: fixed;
    top: calc(50% - 55px);
    right: 40px; }
    .en-box__ex-next-btn {
      width: 80px;
      height: 110px;
      padding: 15px;
      color: #fff;
      border: 1px solid #aaa;
      background-color: #c6c1c1;
      border-radius: 0.5rem;
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset, 0 -1px 0 0 rgba(0, 0, 0, 0.05) inset;
      text-shadow: 1px 1px 0 #777; }
      .en-box__ex-next-btn:hover {
        color: #fff;
        background-color: #87c52e; }
