.en-box {
  padding: rem(20px);
  &__header {
    > div:first-child {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    >div+div {
      margin-top: rem(10px);
    }
    &-sub {
      color: $color-white;
      background-color: $color-tertiary;
      padding: rem(10px);
      font-size: rem(24px);
      border-radius: rem(5px);
      margin-left: rem(10px);
      opacity: 0;
      animation-duration: 1.5s;
    }
  }

  &__body{
    margin-top: rem(40px);
  }

  &__ex {

    &-top {
      display: flex;
      flex-wrap: nowrap;
      padding: rem(30px);
    }

    &-bottom {
      margin-top: -4px;
      padding: rem(20px);
    }

    &-top, &-bottom{
      border: 4px solid $color-gray-dark-2;
    }

    &-audio {
      flex: 0 0 30%;
      max-width: 30%;

      &-btn {
        display: block;
        margin: 0 auto;
        width: 80px;
        height: 80px;
        opacity: 1;
        transition: opacity .15s;
        border-radius: 50%;

        &.is-playing {
          opacity: 1 !important;
          border: 4px solid $color-secondary;
        }

        &:hover {
          opacity: .7;
        }
      }
    }

    &-quest {
      flex: 0 0 70%;
      max-width: 70%;
      font-size: $font-quest;
      color: $color-gray-dark-4;

      &-mean {
        font-style: italic;
      }
    }

    &-form {
      &-alert {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 48px;

        &-text {
          margin-left: rem(10px);
        }
      }

      &-input {
        margin: 0 auto;
        padding: rem(5px) rem(10px);
        max-width: 240px;
        height: 50px;
        border: 2px solid $color-gray-dark-2;
        font-size: $font-quest;
        &:focus{
          border-color: $color-gray-dark-2;
          outline: 0;
          box-shadow: none;
        }
      }

      &-btn {
        font-size: rem(20px);
        width: 200px;
        color: $color-white;
        background-color: $color-primary;
        border-radius: rem(30px);
        &:hover{
          color: $color-white;
          background-color: $color-primary-dark;
        }
      }
    }

    &-next{
      position: fixed;
      top: calc(50% - 55px);
      right: 40px;
      &-btn{
        width: 80px;
        height: 110px;
        padding: 15px;
        color: $color-white;
        border: 1px solid #aaa;
        background-color: #c6c1c1;
        border-radius: rem(8px);
        box-shadow: 0 1px 0 0 rgba(255,255,255,.2) inset, 0 -1px 0 0 rgba(0,0,0,.05) inset;
        text-shadow: 1px 1px 0 #777;
        &:hover{
          color: $color-white;
          background-color: $color-secondary;
        }
      }
    }
  }
}