// Fonts
// ===============================
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&display=swap');

html,
body {
    height: 100%;
}

html {
    font-size: 100%; // 1rem = 16px
}

body {
    font-family: $font-nunitosans;
	font-size: $default-font-size;
	font-weight: 400;
    color: $color-gray-dark;
    background: $color-white;
	line-height: $default-line-height;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

audio {
    display: none !important;
}

.mark-text {
    color: $color-secondary;
    text-decoration: underline;
}

.x-msg {
    font-size: $font-quest;
    color: red;
}

.not-correct-msg,
.congrat-msg {
    font-size: rem(40px);
    color: $color-tertiary;
    text-align: center;
}